@import url('https://fonts.googleapis.com/css?family=Heebo:900');

body {
  background-color: #ffffff;
  font-family: 'Heebo', sans-serif;
}

section.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  padding: 5%;
  display: flex;
  justify-content: flex-start;
}

.big-title {
  position: absolute;
  transform: translateY(-50%);
  top: -200px;
  font-size: 12vmin;
  letter-spacing: 10px;
  transition: font-size 1s, opacity 0.4s, top 2s;
}

h2, h3 {
  font-size: 5vmin;
  letter-spacing: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

h2 {
  padding: 20px;
}

h3 {
  font-size: 12vmin;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

nav {
  position: absolute;
  top: 60%;
}

nav a {
  padding: 30px 30px 30px 0px;
  margin-bottom: 10px;
}

main {
  margin-top: 100vh;
  margin-bottom: 100vh;
  margin-left: 50%;
  z-index: 100;
  width: 50%;
}

section.project {
  text-align: center;
  margin: 300px 0px;
}

.hidden-text {
  position: absolute;
  bottom: -600px;
  transition: bottom 2s;
}

img {
  border-radius: 8px;
}

p {
  padding: 10px;
  margin-bottom: 10px;
}

.aboutme {
  position: fixed;
  padding-left: 700px;
}